.energie-item {
  height: 124px;
  width: 258px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // border: 1px solid blue;
  background-color: var(--grey);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

  img {
    height: 60px;
    width: 60px;
    border-radius: 6px;
    margin: 32px;
  }
  h3,
  p {
    margin: 0;
  }
  h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #74798c;
  }
}
